{% extends "padre.html" %}

{% load static %}
{% block titulo %} 
<title>Post: {{pagina.titulo}}</title>

{% endblock %}

{% block content %}


<h1>Posteos</h1>



<body>
    <p>Titulo : <i>{{pagina.titulo}}</i></p>
    <p>Subtitulo : <i>{{pagina.subtitulo}}</i></p>
    <p>Autor : <i>{{pagina.autor}}</i></p>
    <p>Cuerpo : <i>{{pagina.cuerpo}}</i></p>
    <p>Fecha : <i>{{pagina.fecha_posteo}}</i></p>
    <p>Imagen : <i>{{pagina.imagen}}</i></p>

    <a class="btn btn-danger" href="{% url 'pagina_lista' %}">Volver</a>


</body>

{% endblock %}