<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagina.titulo}}</title>
</head>
<body>
    <p>Titulo : <i>{{pagina.titulo}}</i></p>
    <p>Subtitulo : <i>{{pagina.subtitulo}}</i></p>
    <p>Autor : <i>{{pagina.autor}}</i></p>
    <p>Cuerpo : <i>{{pagina.cuerpo}}</i></p>
    <p>Fecha : <i>{{pagina.fecha_posteo}}</i></p>
    <p>Imagen : <i>{{pagina.imagen}}</i></p>
</body>
</html>