{% extends "padre.html" %}


{% block titulo %} 
<title>AboutMe</title>
{% endblock %}

{% block content %}



<br/>

<br/>
<br/>
<h1>Eduardo Gracia</h1>
<section class="showcase">

    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/media/avatars/about.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                
                <p class="lead mb-0">
        
                    Me llamo Eduardo pero me llaman Edú, (not related con el niño Edú de la novela brasileña).<br/><br/>
                    
                    Hace trece años que soy diseñador gráfico y vivo de ello, trabajé con el CineClub Municipal y la revista Metrópolis, Bancor, Brokers, los ladris de GAMA, entre otros.<br/><br/>
                    
                    Actualmente trabajo de forma freelance haciendo dtp, ¿Qué es eso? Tratando de sintetizarlo lo máximo posible se podría decir que partiendo de una base prediseñada en inglés (la versión aprobada del manual en sí), llamémosle SOURCE, “diseño” las versiones en otros idiomas… (No nose, hablar, leer o escribir otros idiomas además del nuestro y el ingles), yo recibo de parte de una empresa de traductores archivos cuyo formato se asemeja al del source entonces por deducción si se quiere uno va armando la “replica”. Aaaaalgo mas o menos así….<br/><br/>
                    
                    El sitio es tipo blog con interacciones para personas logeadas y no logeadas. Una persona puede acceder a las páginas estando logeadas o no, también tiene acceso a la información del perfil de los usuarios dueños de dichas páginas.
                    
                    Estos user pueden publicar, editar y borrar aquellas páginas que son de su propiedad.</p><br/><br/>
            </div>
        </div>
</section>
{% endblock %}


