{% extends "padre.html" %}

{% load static %}

{% block titulo %} 
<title>Lista de post</title>

{% endblock %}

{% block content %}


<h1>Posteos</h1>

{% for pagina in object_list %}

<h5>{{ pagina.titulo }} - {{ pagina.autor }} - {{ pagina.fecha_posteo }}</h5>

<a class="btn btn-secondary" href="{% url 'pagina_detalle' pagina.id %}">Leer mas</a>
<a class="btn btn-success" href="{% url 'pagina_editar' pagina.id %}">Editar</a>
<a class="btn btn-danger" href="{% url 'pagina_borrar' pagina.id %}">Borrar</a>

{% endfor %}
<br>
<br>
<a class="btn btn-primary" href="{% url 'pagina_crear'  %}">Nuevo Post</a>


{% endblock %}
