{% extends "padre.html" %}

{% load static %}

{% block titulo %} 

<title>Lista de post</title>

{% endblock %}

{% block content %}


<h1>Posteos</h1>

<img src="{{ avatar }}" alt="">

{% for pagina in object_list %}

<h5>{{ pagina.titulo }} - {{ pagina.usuario }}</h5>

<a class="btn btn-secondary" href="{% url 'paginadetalle' pagina.id %}">Leer mas</a>
    {% if user.is_authenticated %}
        {% if user.id == pagina.usuario.id %}
            <a class="btn btn-success" href="{% url 'editarpagina' pagina.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'pagina_borrar' pagina.id %}">Borrar</a>
        
        {% endif %}
    {% endif %}

{% endfor %}

<br>
<br>

    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'nuevopost'  %}">Publicar</a>
    {% endif %}



{% endblock %}
