{% extends "padre.html" %}

{% load static %}

{% block titulo %} 

<title>Enviar mensajes</title>

{% endblock %}

{% block content %}


<h1>Enviar mensajes</h1>
<br>

{% for user in object_list %}
<br>
<h5>{{user.username}}</h5>

<a href="{% url 'enviarmensaje' %}">Enviar mensaje</a>  <!-- ACA DEBERIA HABER UN LINK AL ID DEL USUARIO SELECCIONADO Y ESTE LLEVE AL ENVIARMENSAJEFORM -->
<br>

{% endfor %}


{% endblock %}


<a href="{% url 'enviarmensaje' mensaje.receptor.id %}">Enviar mensaje</a>