{% extends "padre.html" %}

{% load static %}

{% block titulo %} 

<title>Mensajes</title>

{% endblock %}

{% block content %}


<h1>Mensajes</h1>

<h1>{{ mensaje }}</h1>

<br>
<br>

{% if mensaje %}

<small>
    {% for mensaje in mensajes %}
    <p>-------------------</p>
    <h6>Enviado por: {{mensaje.emisor}}</h6>

    <p>{{mensaje.cuerpo}}</p>
    <p>Enviado el: {{mensaje.enviado}}</p>
    {% endfor %}
</small>

{% else %}

<h3>No tiene mensajes para mostrar</h3>

{% endif %}

{% endblock %}


