{% extends "padre.html" %}


{% block titulo %} 

<title>Editar Post</title>

{% endblock %}

{% block content %}



    <h1>Actualizar post</h1>
    <br/>

    <table>
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            {{form.media}}
            {{form.as_table}}
    </table>
    <br/>
            <button class="btn btn-secondary">Actualizar</a>
        </form>


        
        <br/>
        <br/>
        <a class="btn btn-secondary" href="{% url 'agregarimagen'%}">Editar imagen</a>

{% endblock %}

