{% extends "padre.html" %}


{% block titulo %} 
<title>Post: {{pagina.titulo}}</title>
{% endblock %}

{% block content %}

{{ mensaje }}
<h1>{{pagina.titulo}}</h1>
<br/>


<small>

    <p>{{pagina.subtitulo}}</p>
    <p>Por: {{pagina.usuario}}</p>
    <p>Creado: {{pagina.creado}}</p>
    <p>Ultima edicion: {{pagina.editado}}</p>
    
    
    <img class="container" src="{{pagina.imagen.url}}">

    


<br/>
<br/>
    
    <p>{{pagina.cuerpo|safe}}</p>

</small>

    <a class="btn btn-secondary" href="{% url 'leerpaginas' %}">Volver</a>


    {% if user.id == pagina.usuario.id %}
        <a class="btn btn-success" href="{% url 'editarpagina' pagina.id %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'pagina_borrar' pagina.id %}">Borrar</a>
    
    {% endif %}





{% endblock %}
