{% extends "padre.html" %}


{% block titulo %} 
<title>Post: {{pagina.titulo}}</title>
{% endblock %}

{% block content %}


<h1>Posteos {{pagina.autor.id}}</h1>

<small>
    <p>{{pagina.titulo}}</p>
    <p>{{pagina.subtitulo}}</p>
    <p>{{pagina.autor}}</p>
    {% if pagina.imagen %}
        <img src="{{pagina.imagen.url}}"><br/><br/>
    {% endif %}
    <p>{{pagina.cuerpo|safe}}</p>
    <p>{{pagina.fecha_posteo}}</p>
    

</small>

    <a class="btn btn-secondary" href="{% url 'pagina_lista' %}">Volver</a>


    {% if user.id == pagina.autor.id %}
        <a class="btn btn-success" href="{% url 'pagina_editar' pagina.id %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'pagina_borrar' pagina.id %}">Borrar</a>
    
    {% endif %}





{% endblock %}
