{% extends "padre.html" %}


{% block titulo %} 
<title>Profile: {{user.first_name}}</title>
{% endblock %}

{% block content %}

{{ mensaje }}

<br/>
<img class="img-fluid rounded-circle mb-2" src="{{ avatar.imagen.url }}" alt="...">
<br/>
<br/>

<small>

    <p>{{user.first_name}}</p>
    <p>{{user.last_name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.web_site}}</p>
    <p>{{user.descripcion}}</p>





</small>

<a class="btn btn-secondary" href="{% url 'leerpaginas' %}">Volver</a>



{% endblock %}


<p>{{profile.nombre}}</p>
<p>{{profile.last_name}}</p>
<p>{{profile.email}}</p>
<p>{{profile.web_site}}</p>
<p>{{profile.descripcion|safe}}</p>